
    <div id="myCarousel" class="carousel slide " data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ vich_uploader_asset(articles[0],'imageFile') }}" alt="">


                <div class="container">
                    <div class="carousel-caption text-start text-bg">
                        <h1 class="carousel-title">{{ articles[0].title }}</h1>
                        <p class="carousel-description">{{articles[0].description |slice(0, 150) ~ '...'}}</p>
                        <p>
                            <a class="btn btn-lg btn-primary" href="#">Read more</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ vich_uploader_asset(articles[1],'imageFile') }}" alt="">
                <div class="container">
                    <div class="carousel-caption text-bg">
                        <h1 class="carousel-title">{{ articles[1].title }}</h1>
                        <p class="carousel-description">{{articles[1].description |slice(0, 150) ~ '...' }}</p>
                        <p><a class="btn btn-lg btn-primary" href="#">Read more</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ vich_uploader_asset(articles[2],'imageFile') }}" alt="">
                <div class="container">
                    <div class="carousel-caption text-end text-bg">
                        <h1 class="carousel-title">{{ articles[2].title }}</h1>
                        <p class="carousel-description">{{articles[2].description |slice(0, 150) ~ '...'}}</p>
                        <p><a class="btn btn-lg btn-primary" href="#">Read more</a></p>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">السابق</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">التالي</span>
        </button>
    </div>