{% extends 'base.html.twig' %}

{% block title %}Tags index{% endblock %}

{% block body %}
<div class="main-container mt-4">
    <h1>Manage Tags</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>

    {% endfor %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tag in tags %}
            <tr class="align-middle">
                <td >{{ tag.id }}</td>
                <td>{{ tag.name }}</td>
                <td>
                    <a href="{{ path('admin_tags_edit', {id: tag.id}) }}" class="btn btn-secondary">Edit</a>
                    <form action="{{ path('admin_tags_delete',{id:tag.id}) }}" method="post"
                          style="display: inline-block" onsubmit="return confirm('Are you sure to remove this article ? ')">
                        <input type="hidden" name="_method" value="DELETE" />
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tag.id) }}">
                        <button class="btn btn-danger">Supprimer</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="d-flex align-items-center justify-content-between">
        <div class="text-center">
            <a href="{{ path('app_admin_index') }}" class="btn btn-success">Manage Articles</a>
        </div>
        <div class="text-end">
            <a href="{{ path('admin_tags_new') }}" class="btn btn-primary">Create new tag</a>
        </div>
    </div>

</div>
{% endblock %}